[submodule "sample_app_6th_ed"]
	path = sample_app_6th_ed
	url = https://github.com/land-of-apps/sample_app_6th_ed.git
[submodule "spring-petclinic"]
	path = spring-petclinic
	url = https://github.com/land-of-apps/spring-petclinic
[submodule "chipy.org"]
	path = chipy.org
	url = https://github.com/land-of-apps/chipy.org.git
[submodule "Misago"]
	path = Misago
	url = https://github.com/land-of-apps/Misago.git
[submodule "devise"]
	path = devise
	url = https://github.com/land-of-apps/devise.git
[submodule "job-iteration"]
	path = job-iteration
	url = https://github.com/land-of-apps/job-iteration.git
